h1,h2,h3,h4 {
	margin: 0px;
	padding: 0px;
}


body.authentication {
	background-color: #83ff4c;
}

.authentication .navbar {
	background-color: #83ff4c;
	border: none;
	height: 10%;
}

.authentication-form {
	background-color: #bfffa3;
	border: 1px solid #75e545;
	margin-top: 20%;
	height: 50%;

	padding: 40px;
	border-radius: 4px;
}